* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #033B2C;
    height: 30px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
}

.header .left-info {
    margin: 0px 50px;
}

.header .middle-info {
    position: relative;
    left: 350px;
}

.header select {
    background-color: #033B2C;
    border: 0px;
    color: white;
    position: relative;
    left: 790px;
    font-family: 11px;
}

.main {
    margin: 10px 60px;
}

.main .nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar ul {
    margin: 0 50px;
    list-style-type: none;
    display: inline-block;
}

.nav-bar li {
    display: inline;
    margin: 0px 30px;
    margin-right: 10px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.nav-bar input[type="text"] {
    margin-right: 30px;
    padding: 10px;
    border-radius: 50px;
    background-color: #F8F7F6;
    border: 0px solid;
    width: 250px;
}

.nav-bar button {
   position: relative;
   right: 55px;
   border-radius: 50px;
   border: 0px solid;
   z-index: 10;
   cursor: pointer;
}

.nav-bar span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0px 20px;
}

.nav-bar span .big {
    height: 20px;
}

.main .main-info {
    margin: 20px 0px;
    background-color: #FCF2E9;
    width: auto;
    height: 325px;
    border-radius: 5px;
}

.main-info .content-mi {
    position: relative;
    top: 70px;
    left: 100px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}
.main-info .content-mi h1 {
    color: #033B2C;
    font-size: 40px;
}

.main-info .content-mi button {
    margin-top: 50px;
    padding: 15px 20px;
    width: 120px;
    background-color: #033B2C;
    border: 0px solid;
    border-radius: 50px;
    color: white
}

.main-info img {
    position: relative;
    left: 50px;
}

.main .filters-sorts {
    margin: 50px 0px;
    width: auto;
    height: 40px;
}

.filters-sorts select {
    margin: 10px 0px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #F0EFEE;
    border: 0px;
    border-radius: 50px;
    padding: 8px 15px;
}

.filters-sorts .ht {
    width: 170px; 
}
.filters-sorts .Sort{
    float: right;
    background-color: white;
    border: 1px solid grey
}

.main .shop-content {
    width: auto;
    margin: 0px;
    /* display: inline-block; */
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.main .shop-content .card-one {
    width: auto;
    height: 500px;
    margin: 50px 0px;
    margin-right: 0px;
    position: relative;
    display: inline-block;
}

.card-one-image {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #F0EFEE;
}

.card-one-image img {
    width: 200px;
    height: 200px;
}

.card-one-image i {
    float: right;
    position: relative;
    bottom: 120px;
    left: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

.card-one-description {
    margin: 0px 0px;
}

.card-one-description h4 {
    margin: 20px 0px;
}

.card-one-description p {
    margin: 20px 0px;
}

.main .shop-content .card-two {
    width: auto;
    height: 500px;
    margin: 50px 0px;
    margin-right: 0px;
    position: relative;
    display: inline-block;
}

.card-two-image {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #F0EFEE;
}

.card-two-image img {
    width: 200px;
    height: 200px;
}

.card-two-image i {
    float: right;
    position: relative;
    bottom: 120px;
    left: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

.card-two-description {
    margin: 0px 0px;
}

.card-two-description h4 {
    margin: 20px 0px;
}

.card-two-description p {
    margin: 20px 0px;
}

.main .shop-content .card-three {
    width: auto;
    height: 500px;
    margin: 50px 0px;
    margin-right: 0px;
    position: relative;
    display: inline-block;
}

.card-three-image {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #F0EFEE;
}

.card-three-image img {
    width: 300px;
    height: 300px;
}

.card-three-image i {
    float: right;
    position: relative;
    bottom: 120px;
    left: -30px;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

.card-three-description {
    margin: 0px 0px;
}

.card-three-description h4 {
    margin: 20px 0px;
}

.card-three-description p {
    margin: 20px 0px;
}

.main .shop-content .card-four {
    width: 300px;
    height: 500px;
    margin: 50px 0px;
    position: relative;
    display: inline-block;

}

.card-four-image {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    justify-content: center;    
    align-items: center;
    background-color: #F0EFEE;
}

.card-four-image img {
    width: 150px;
    height: 150px;
}

.card-four-image i {
    float: right;
    position: relative;
    bottom: 120px;
    left: 45px;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

.card-four-description {
    margin: 0px 0px;
}

.card-four-description h4 {
    margin: 20px 0px;
}

.card-four-description p {
    margin: 20px 0px;
}

.add-to-cart {
    padding: 10px 20px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
}

.add-to-cart:hover {
    padding: 10px 20px;
    color: white;
    background-color: #033B2C;
    border: 1px solid #033B2C;
    border-radius: 50px;
    transition: 0.5s;
}

.green-color {
    color: greenyellow;
}