* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #033B2C;
    height: 30px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
}

.header .left-info {
    margin: 0px 50px;
}

.header .middle-info {
    position: relative;
    left: 350px;
}

.header select {
    background-color: #033B2C;
    border: 0px;
    color: white;
    position: relative;
    left: 790px;
    font-family: 11px;
}

.main {
    margin: 10px 60px;
}

.main .nav-bar {
    display: flex;
    align-items: center;
}

.main .nav-bar ul {
    margin: 0 50px;
    list-style-type: none;
    display: inline-block;
}

.main .nav-bar li {
    display: inline;
    margin: 0px 30px;
    margin-right: 10px;
}

.main .nav-bar a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.nav-bar input[type="text"] {
    margin-right: 30px;
    padding: 10px;
    border-radius: 50px;
    background-color: #F8F7F6;
    border: 0px solid;
    width: 250px;
}

.nav-bar button {
   position: relative;
   right: 55px;
   border-radius: 50px;
   border: 0px solid;
   z-index: 10;
   cursor: pointer;
}

.nav-bar span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0px 20px;
}

.nav-bar span .big {
    height: 20px;
}

.main .main-info {
    margin: 20px 0px;
    background-color: #FCF2E9;
    width: auto;
    height: 325px;
    border-radius: 5px;
}

.main .main-info .content-mi {
    position: relative;
    top: 70px;
    left: 100px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}
.main .main-info .content-mi h1 {
    color: #033B2C;
    font-size: 40px;
}

.main .main-info .content-mi button {
    margin-top: 50px;
    padding: 15px 20px;
    width: 120px;
    background-color: #033B2C;
    border: 0px solid;
    border-radius: 50px;
    color: white
}

.main .main-info img {
    position: relative;
    left: 50px;
}

.main .filters-sorts {
    margin: 50px 0px;
    width: auto;
    height: 40px;
}

.main .filters-sorts select {
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #F0EFEE;
    border: 0px;
    border-radius: 50px;
    padding: 8px 15px;
}

.main .filters-sorts .ht {
    width: 170px; 
}
.main .filters-sorts .Sort{
    float: right;
    background-color: white;
    border: 1px solid grey
}

.main .shop-content {
    width: auto;
    margin: 0px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

    .card-one {
        width: 250px;
        height: 300px;
        margin: 50px 0px;
    }
    
        .card-one-image {
            display: flex;
            width: 350px;
            height: 300px;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            background-color: #F0EFEE;
        }

        .card-one-image img {
            width: 200px;
            height: 200px;
        }

        .card-one-description {
            margin: 10px 0px;
        }

        .card-one-description h4 {
            margin: 20px 0px;
        }

        .card-one-description .green-color {
            color: greenyellow;
        }

        .card-one-description p {
            margin: 20px 0px;
        }
    
